<!DOCTYPE html>
<head></head>
<title></title>

<div class="nice-form-group">
    <label>Phonenumber</label>
    <input
      type="tel"
      placeholder="Your phonenumber"
      value=""
      class="icon-left"
    />
  </div>
  
  <div class="nice-form-group">
    <label>Url</label>
    <input
      type="url"
      placeholder="www.google.com"
      value=""
      class="icon-left"
    />
  </div>
  
  <div class="nice-form-group">
    <label>Email</label>
    <input
      type="email"
      placeholder="Your email"
      value=""
      class="icon-left"
    />
  </div>
  
  <div class="nice-form-group">
    <label>Password</label>
    <input
      type="password"
      placeholder="Your password"
      class="icon-left"
    />
  </div>
  
  <div class="nice-form-group">
    <label>Phonenumber</label>
    <input
      type="tel"
      placeholder="Your phonenumber"
      value=""
      class="icon-right"
    />
  </div>
  
  <div class="nice-form-group">
    <label>Url</label>
    <input
      type="url"
      placeholder="www.google.com"
      value=""
      class="icon-right"
    />
  </div>
  
  <div class="nice-form-group">
    <label>Email</label>
    <input
      type="email"
      placeholder="Your email"
      value=""
      class="icon-right"
    />
  </div>
  
  <div class="nice-form-group">
    <label>Password</label>
    <input
      type="password"
      placeholder="Your password"
      class="icon-right"
    />
  </div>